    #section2 {
  width: 100%;
  display: flex;
}
 
.img5 {
  width: 58%;
  height: 60px;
  margin: 1% 26px;
}
.slow {
  width: 70%;
}
.j\. {
  display: flex;
  list-style: none;
  margin-top: 4%;
}
.brain {
  width: 30%;
}
.new2 {
  margin-left: 8%;
}
a {
  text-decoration: none;
}
.or {
  text-align: center;
  font-size: 248%;
}
.p51 {
  width: 48%;
  margin-left: 2%;
}
#section3 {
  width: 100%;
  display: flex;
}
.main-para {
  width: 50%;
  margin: 1% 1%;
}
.img3 {
  width: 128%;
  margin: 28% 17%;
}
.h2 {
  margin-top: -2%;
  font-size: 233%;
  margin-left: 2%;
  margin-bottom: 2%;
}
.p1 {
  width: 56%;
  margin-left: 1%;
}
.ul {
  margin-top: -3%;
}
a {
  color: black;
}
#section4 {
  width: 100%;
  display: flex;
}
.sex {
    width: 50%;
  margin-left: 3%;
}
.img4 {
  margin: 4% 1%;
  width: 105%;
}
.nl-1 {
    text-align: center;
  font-size: 209%;
  margin-top: -2%;
}
.male {
  margin-top: -7%;
}
.p3 {
  width: 47%;
}
.para-1 {
  width: 46%;
  margin-left: 3%;
  margin-top: -1%;
}
#section6 {
  width: 100%;
}
.img8 {
  margin: 0% 31%;
  width: 37%;
}
.col-2 {
  margin: 1% 31%;
}
.p2 {
  width: 41%;
  margin: 2% 31%;
}
#section8 {
  width: 100%;
}
#section1 {
  width: 100%;
}

#section7 {
  width: 100%;

}
.linked {
  width: 30%;
}
.p4 {
  margin: -5% 6%;
}
.p5 {
  width: 50%;
  margin: 2% 3%;
}
.who {
  width: 70%;
}
.ul-1 {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.ZHPH {
  width: 30%;
}
#section10 {
  width: 100%;
}
.img11 {
  width: 103%;
  margin: 2% 125%;
}
.col-1 {
  font-size: 181%;
  margin: 1% 1%;
}
body {
  width: 100%;
  background-color: #cdca9c;
}